body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
  background: #022F31 !important;
}

label{
  color: #FFFFFF;
  font-size: 16px;
}

.form-panel {
  max-width: 530px;
  padding: 15px;
  margin: 0 auto;
}

.form-panel .form-panel-heading,
.form-panel .checkbox {
  margin-bottom: 10px;
}

.form-panel .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-panel .form-control:focus {
  z-index: 2;
}

.navbar-default .container {
  color: #022F31 !important;
}

.table th{
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: large;
}

.table tr{
  color: white;
  text-align: center;
}

.deleteButton {
  color: #022F31 !important;
  background-color: #5cb85c;
  border-color: #4cae4c;
}