<div class="container center_div">
    <div id="navbar" class="navbar-collapse" ng-controller="langController">
        <form class="navbar-form navbar-right">
            <div class="dropdown">
                <button class="btn btn-info btn-lg dropdown-toggle" type="button" id="languageMenu" data-toggle="dropdown">
                    {{'CHOOSE_LANG' | translate}}
                    <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                </button>

                <ul class="dropdown-menu" aria-labelledby="languageMenu">
                    <li><a ng-click="changeLanguage('en')" translate="BUTTON_LANG_EN"></a></li>
                    <li><a ng-click="changeLanguage('de')" translate="BUTTON_LANG_DE"></a></li>
                    <li><a ng-click="changeLanguage('pl')" translate="BUTTON_LANG_PL"></a></li>
                </ul>
            </div>
        </form>
    </div>
</div>

<div class="container" ng-controller="langController">
    <form class="form-signin" ng-controller="loginController">
        <h2 class="form-signin-heading" style="color: #FFFFFF">
            <p translate="LOGIN_TITLE"></p>
        </h2>

        <input type="login" id="inputLogin" class="form-control"
               placeholder="{{'LOGIN_FIELD' | translate}}" autofocus ng-model="authData.login">
        <input type="password" id="inputPassword" class="form-control"
                placeholder="{{'PASSWORD_FIELD' | translate}}" ng-model="authData.password">

        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="singIn()" translate="LOGIN_BUTTON"></button>
        <a href="#register" class="btn btn-lg btn-primary btn-block" type="link" translate="REGISTER_BUTTON"></a>
    </form>
</div>