<div class="container center_div" ng-controller="langController">
    <div id="navbar" class="navbar-collapse">
        <div class="navbar-header">
            <h1 class="form-panel-heading" style="color: #FFFFFF">{{'USER_TITLE' | translate}} ! {{login}}</h1>
        </div>
        <form class="navbar-form navbar-right">
            <div class="btn-group inline">

                <button type="submit" class="btn btn-success btn-lg" ng-click="openUserProfile()">
                    {{'PROFILE_BUTTON' | translate}}
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                </button>

                <div class="dropdown btn-group">
                    <button class="btn btn-info btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
                        {{'CHOOSE_LANG' | translate}}
                        <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                    </button>

                    <ul class="dropdown-menu">
                        <li><a ng-click="changeLanguage('en')" translate="BUTTON_LANG_EN"></a></li>
                        <li><a ng-click="changeLanguage('de')" translate="BUTTON_LANG_DE"></a></li>
                        <li><a ng-click="changeLanguage('pl')" translate="BUTTON_LANG_PL"></a></li>
                    </ul>
                </div>

                <button type="submit" class="btn btn-danger btn-lg" ng-click="logout()">
                    {{'LOGOUT_BUTTON' | translate}}
                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                </button>
            </div>
        </form>
    </div>
</div>

<div class="container form-panel" ng-controller="taskController">
    <form class="taskName-form">
        <h2 class="form-panel-heading" style="color: #FFFFFF">{{'TASK_TITLE' | translate}}:</h2>

        <input type="taskName" id="inputTaskName" class="form-control"
               placeholder="{{'TASK_FIELD' | translate}}" ng-model="task.taskName"/>

        <button class=".btn btn-primary" ng-click="addTask()" autofocus hidden>Add Task</button>
        <h2 class="form-panel-heading" style="color: #FFFFFF">{{'TASK_LIST_HEADER' | translate}}:</h2>

    </form>
    <table id="tasks" class="table table-bordered">
        <thead>
        <tr>
            <th>{{'CHANGE_TASK' | translate}}</th>
            <th>{{'TASK_NAME' | translate}}</th>
            <th>status</th>
            <th>{{'TASK_DELETE' | translate}}</th>
        </tr>
        </thead>
        <tr ng-repeat="x in tasks">
            <td width="4%">
                <input type="checkbox" ng-click="updateTask(x.id)" ng-model="x.done">
            </td>
            <td>{{ x.taskName }}</td>
            <td width="13%">{{ x.done }}</td>
            <td width="4%">
                <button ng-click="deleteTask(x.id)" class="deleteButton">
                    <span class="glyphicon glyphicon-trash"/>
                </button>
            </td>
        </tr>
    </table>
</div>