<div class="container center_div">
    <div id="navbar" class="navbar-collapse">
        <div class="navbar-header">
            <h1 class="form-panel-heading" style="color: #FFFFFF">Hello ! {{login}}</h1>
        </div>
        <form class="navbar-form navbar-right">
            <button type="submit" class="btn btn-success btn-lg" ng-click="openUserProfile()">
                Profile
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
            </button>

            <button type="submit" class="btn btn-danger btn-lg" ng-click="logout()">
                Logout
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </button>
        </form>
    </div>
</div>

<div class="container form-panel" ng-controller="taskController">
    <form class="taskName-form">
        <h2 class="form-panel-heading" style="color: #FFFFFF">Task:</h2>

        <input type="taskName" id="inputTaskName" class="form-control"
               placeholder="Enter the name of Your New Task" ng-model="task.taskName"/>

        <button class=".btn btn-primary" ng-click="addTask()" autofocus hidden>Add Task</button>
        <h2 class="form-panel-heading" style="color: #FFFFFF">Your Tasks:</h2>

    </form>
    <table id="tasks" class="table table-bordered">
        <thead>
        <tr>
            <th>change</th>
            <th>task</th>
            <th>status</th>
            <th>delete</th>
        </tr>
        </thead>
        <tr ng-repeat="x in tasks">
            <td>
                <input type="checkbox" ng-click="updateTask(x.id)">
            </td>
            <td>{{ x.taskName }}</td>
            <td>{{ x.done }}</td>
            <td>
                <button ng-click="deleteTask(x.id)" style="color: #022F31 !important;">
                    <span class="glyphicon glyphicon-trash"/>
                </button>
            </td>
        </tr>
    </table>
</div>